
blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {

  /* Misc */
  content: "";
  content: none;
}

table {
  border-spacing: 0;

  /* Visual */
  border-collapse: collapse;
}